<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
{% include post-head.html %} 

<body>
{% include footer.html %} 
    <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
    </section>
    <section class="post-footer-item comment">
      <div id="disqus_thread"></div>
	  <div id="gitalk_container"></div>
    </section>
  </section>
    })();
  </script>
  {% endif %} 

  {% if site.comments.gitalk %}
    <script>
        var gitalk = new Gitalk({
        clientID: '933ab0bb3e2464f51f27',
        clientSecret: '67016febaae89221e9cbbad907d5f7a0c8e8b7da',
        repo: 'cxk233/github.io',
        owner: 'cxk233',
        admin: 'cxk233',
        id: location.pathname,      // Ensure uniqueness and length less than 50{{ page.title }}
        distractionFreeMode: 'true'  // Facebook-like distraction free mode
      })

      gitalk.render('disqus_container')
    </script>
  {% endif %}